<div class="container">
  <div class="card m-5 p-3">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a class="badge badge-warning" routerLink="/users/{{ user.id }}">
                    Edit
                  </a></td>
                <td><button class="badge badge-danger mr-2" (click)="deleteUser(user.id)">
                    Delete
                  </button></td>  
            </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
